// COLORS
$cl-green: #6A983C;
$cl-txt: #151515;
$cl-btn-gray: #F5F5F5;
$cl-btn-border: #46760A;

// FONTS
$font-poppins: "Poppins", sans-serif;
$font-open-sans: "Open Sans", sans-serif;

// PX-SIZE
$max-xs: 576px;
$max-sm: 768px;
$max-md: 992px;
$max-lg: 1200px;
