.footer-about {
    padding-left: 0;
    padding-right: 0;

    &__title {
        margin: 0 0 16px 0;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: $cl-green;
    }

    &__list {
        @include list-unstyled;
    }

    &__item {
        margin-bottom: 16px;
    }

    &__link {
        text-decoration: none;
        font-size: 14px;
        line-height: 19px;
        color:$cl-txt;
    }
}

@media screen and (max-width:992px){
    .footer-about {
        margin-bottom: 50px;
    }
}

@media screen and (max-width:992px){
    .footer-about {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}